*.log
queue.log.*
*.swp
*.pyc
databoat.json

node_modules
arduino-1.6.9-windows.zip
arduino-1.6.9
arduino-1.6.10-windows.zip
arduino-1.6.10
build
processed
sensors.db

*log.txt
screenlog.*

*.o
pi/lora-receiver/lora-receiver

libraries/OkaCommon/config.h
libraries/OkaUtilities/config.h

.gradle
data
firmwaretool.properties
